version: '2'

services:
  app:
    image: 'daily-read:latest'
    build:
      context: .
    ports:
      - "8069:8069"
    container_name: daily_read_app
    depends_on:
      - db
#      - config-server
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/daily_read
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=BigMitch@123
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update

  db:
    image: 'postgres:13.1-alpine'
    container_name: daily_read_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=BigMitch@123
      - POSTGRES_DB=daily_read

#  config-server:
#    image: 'config-server'
#    container_name: config_server
#    build:
#      context: .
#    ports:
#      - "8085:8085"